.gradle
build
.idea
uploads
.env*
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-*.properties
src/main/resources/application-*.yml
!src/main/resources/application-example.properties
